@import '../../colors.scss';

.colorTegsInList {
    color: $tags-color;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $tags-color;
}
