@import '../../colors.scss';

.Tags {
  width: 200px;
  height: 100%;
  background-color: #e6e6fa;
}

.colorTags {
  color: $tags-color;
}

.link {
  text-decoration: none;
  color: $tags-color;
}

.filtered {
  color: #3f7a42;
}